body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
}

/* ********************
Typography
*********************** */

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

/* h1 subtitle */
.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
    text-transform: uppercase;
}

footer p {
  font-weight: 700;
  color: #707070;
}

/* ********************
Layout
*********************** */

.container-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

footer {
    background:#143774;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

.container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

.container-nav {
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Navigation */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: #707070;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: .25em 0;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.current-page, .current-page:hover {
  border-bottom: 1px solid #707070;
    /* padding for this item is in the parent - nav a */
}

/* .subheader, nav {
  border: 2px solid purple;
} */

/* ********************
Main Layout
*********************** */

main {
  /* border: 2px solid purple; */
  height: 100%;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}


/* ********************
Screen Changes
*********************** */

@media (min-width: 675px) {
    header {
        text-align: left;
    }

    .container-nav {
        flex-direction: row;
    }

}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .5em 0;
    }
}
